{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

<div class="collection-grid">
    <h2 class="collection-grid__header">{{ section.settings.header }}</h2>
</div>

{% schema %}
{
    "name": "Collection Grid",
   "max_blocks": 4,
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Header",
           "default": "Take A Look Around"
        }
    ],
    "blocks":[{
       "name": "Collection Grid",
       "type": "collection-grid",
       "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
       ]
    }],
    "presets": [
        {
            "name": "Collection grid"
        }
    ]
}
{% endschema %}